streamlit
langchain
langchain_deepseek
pandas
faiss-cpu
huggingface_hub
tqdm
openpyxl
plotly
numpy
sentence-transformers
torch
transformers
protobuf
requests
python-dotenv
matplotlib
scipy
Pillow
tenacity
typing-extensions
jsonschema